body{
  background-color: #314dcc;
  text-align: center;
  border: 40px solid #2EC486;
  border-top: 0px;
  margin: 0px;
}

form{
  font-size: 1.5em;
}

#signup{
  background-color: #dbae18;
  height: 70px;
  width: 200px;
  margin: 4px;
  font-size: 1em;
  border-radius: 25px;
}
